.slider-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .card_carousel1 {
    width: 80%; /* Adjust card width */
    max-width: 600px;
    margin: 10px auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  