
  .App12 {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:300px;
    width: 300px;
    position: relative;
    background-color: #000;
    overflow: hidden;
  }
  
  section {
    position: relative;
    animation: animate 10s linear infinite;
    width: 100%;
  height: 100%;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .letter {
    position: absolute;
    font-family: Poppins;
    font-weight: bold;
    align-items: center;
    font-size: 24px;
    color: white;
    transform-origin: center 100px;
  }
  