@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  overflow: scroll;
}
::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  background: transparent;
}

@font-face {
    font-family: "SuissenIntl";
    src: local("SuissenIntl-Regular"),
      url("./assets/Fonts/SuisseIntl-Regular.ttf") format("truetype");
    font-weight: normal;
  }

  @font-face {
    font-family: "Akira";
    src: local("AkiraExpanded"),
      url("./assets/Fonts/AkiraExpanded.otf") format("opentype");
    font-weight: normal;
  }
  @font-face {
    font-family: "Montserrat-bold";
    src: local("Montserrat-Bold"),
      url("./assets/Fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "Montserrat-Regular";
    src: local("Montserrat-Regular"),
      url("./assets/Fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
  }